extends layout

block content
  h1 Users
  ul
    each user in users.length ? users : ['There are no users']
      li= user.split(';')[1] + ' ' + user.split(';')[2] + ' ' + user.split(';')[3]

  a(href="/users/add") New user
